APP_PORT=3000
APP_ENV=development

DB_HOST=127.0.0.1
DB_PORT=5432
DB_USER=admin
DB_PASSWORD=secret
DB_NAME=shopera
DB_SSLMODE=disable

JWT_SECRET=change-me-in-production
JWT_TTL=24h

APP_URL=http://localhost:8000

REFRESH_TTL=720h
